<section class="contact-us" id="contact-us" #sectionContact>
  <div class="container-fluid">

    <div class="row py-5">
      <div class="col-md-10 mx-auto">

        <div class="row justify-content-between">
          <div class="col-md-5 p-0 brief">
            <div class="contact-us-heading d-flex">
              <div class="heading-block-white">
                <h2>COLLABORATE</h2>
                <h2 class="strike">WITH US</h2>
              </div>
            </div>
            <div class="contact-us-text-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </p>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore
              </p>
            </div>
          </div>

          <div class="col-md-5 p-0 contact-us-form position-relative">
            <div class="patch"></div>
            <form>
              <div class="row">

                <div class="from-group col">
                  <label for="name">Name</label>
                  <input id="name" class="name" name="name" placeholder="Name">
                </div>

                <div class="from-group col">
                  <label for="surname">SURNAME</label>
                  <input id="surname" class="surname" name="surname" placeholder="Surname">
                </div>
              </div>
              <div class="row">
                <div class="from-group col">
                  <label for="phone">Phone</label>
                  <input id="phone" class="phone" name="phone" placeholder="Phone">
                </div>

                <div class="from-group col">
                  <label for="email">EMAIL ADDRESS</label>
                  <input id="email" class="email" name="email" placeholder="Email">
                </div>
              </div>
              <div class="row">
                <div class="from-group col">
                  <label for="experience">EXPERIENCE</label>
                  <select id="experience" class="experience" name="experience">
                    <option disabled>Select</option>
                  </select>
                </div>
                <div class="from-group col">
                  <label for="response">WHERE DID YOU HEAR ABOUT US?</label>
                  <select id="response" class="response" name="response">
                    <option>Select</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-end">
                <button type="submit" class="form-button">
                  <span>SEND</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
