<footer>
  <div class="container-fluid">

    <div class="row pt-4">
      <div class="col-md-10 mx-auto">
        <div class="py-4 d-flex justify-content-between">
          <div class=" d-flex ">
            <ul class="footer-menu p-0 m-0">
              <li class="menu-heading">SECTION 1</li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
            </ul>

            <ul class="footer-menu">
              <li class="menu-heading">SECTION 2</li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
            </ul>

            <ul class="footer-menu">
              <li class="menu-heading">SECTION 3</li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
            </ul>

            <ul class="footer-menu">
              <li class="menu-heading">SECTION 4</li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
            </ul>

            <ul class="footer-menu">
              <li class="menu-heading">SECTION 5</li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
              <li><a href="javascript:void(0);">Subsection</a></li>
            </ul>

          </div>

          <div class="footer-logo">
            <span>THIS IS THE</span>
            <h1>LOGO</h1>
          </div>

        </div>


      </div>

      <div class="col-md-10 mx-auto">
        <div class="py-4 d-flex align-items-center justify-content-between">
          <div class="copy-right">
            <span>2017. Company. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</span>
          </div>
          <div class="social-links-container">
            <ul class="social-links m-0">
              <li><a href="javascript:void(0);" class="facebook"></a></li>
              <li><a href="javascript:void(0);" class="twitter"></a></li>
              <li><a href="javascript:void(0);" class="instagram"></a></li>
              <li><a href="javascript:void(0);" class="youtube"></a></li>
              <li><a href="javascript:void(0);" class="pinit"></a></li>
              <li><a href="javascript:void(0);" class="trumbler"></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
