<section class="community" id="community" #sectionCommunity>
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-md-10 p-0 mx-auto">
        <div class="d-flex flex-grow-1">
          <div class="community-content justify-content-end d-flex">
            <div class="heading-content w-50">
              <div class="heading-block">
                <h2> MEET OUR</h2>
                <h2 class="strike">COMMUNITY</h2>
              </div>
              <button>KNOW MORE</button>
              <h3 class="mt-5">
                LOREM IPSUM DOLOR SIT
                AMET ERNUT TEMPARTERO
                SERTU PER NABORE EN
                TORNA ENTALTO
              </h3>
            </div>
          </div>
          <div class="community-content d-flex" [@slideUp]="triggerState">
            <div class="block">
              <div class="image-block">
                <div class="insta-icon"></div>
                <div class="content">
                  <div class="image-container">
                    <img src="../assets/test-image.jpg" alt="test-image">
                  </div>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="comment-block">

                <div class="content">
                  <h4>@buzzfeedfood</h4>
                  <p>
                    It’s taco Tuesday! These tacos
                    from @jesseszewczyk have no
                    added sugars and are SO good
                    . Find the recipe from the
                    link in our bio! :
                    @taylormillerphoto
                  </p>
                  <div class="text-right mt-auto">
                    <span><i class="fas fa-comment-alt mr-1"></i>60</span>
                    <span><i class="fas fa-heart mr-1"></i>14.7K</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="stripe"></div>
            <div class="bg-mat-star"></div>
          </div>
        </div>


        <div class="d-flex flex-grow-1 py-5" [@slideUp1]="triggerState">
          <div class="community-content d-flex">
            <div class="block">
              <div class="comment-block">
                <div class="content">
                  <h4>@buzzfeedfood</h4>
                  <p>
                    It’s taco Tuesday! These tacos
                    from @jesseszewczyk have no
                    added sugars and are SO good
                    . Find the recipe from the
                    link in our bio! :
                    @taylormillerphoto
                  </p>
                  <div class="text-right mt-auto">
                    <span><i class="fas fa-comment-alt mr-1"></i>60</span>
                    <span><i class="fas fa-heart mr-1"></i>14.7K</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="block">
              <div class="image-block">
                <div class="insta-icon"></div>
                <div class="content">
                  <div class="image-container">
                    <img src="../assets/test-image.jpg" alt="test-image">
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-mat-dot"></div>
          </div>


          <div class="community-content d-flex">
            <div class="block">
              <div class="comment-block bg-transparent shadow-none">
                <div class="content">
                  <p class="align-self-center">
                    Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in
                    reprehenderit in voluptate
                    velit esse cillum dolore
                  </p>
                </div>
              </div>
            </div>
            <div class="block">
            </div>
          </div>


        </div>


        <div class="d-flex flex-grow-1 " [@slideUp2]="triggerState">
          <div class="community-content d-flex">
            <div class="block">
              <div class="comment-block bg-transparent shadow-none">
                <div class="content ">
                  <p class="align-self-center">
                    Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in
                    reprehenderit in voluptate
                    velit esse cillum dolore
                  </p>
                </div>
              </div>
            </div>
            <div class="block">
            </div>
          </div>


          <div class="community-content d-flex">
            <div class="block">
              <div class="comment-block">
                <div class="content">
                  <h4>@buzzfeedfood</h4>
                  <p>
                    It’s taco Tuesday! These tacos
                    from @jesseszewczyk have no
                    added sugars and are SO good
                    . Find the recipe from the
                    link in our bio! :
                    @taylormillerphoto
                  </p>
                  <div class="text-right mt-auto">
                    <span><i class="fas fa-comment-alt mr-1"></i>60</span>
                    <span><i class="fas fa-heart mr-1"></i>14.7K</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="block">
              <div class="image-block">
                <div class="insta-icon"></div>
                <div class="content">
                  <div class="image-container">
                    <img src="../assets/test-image.jpg" alt="test-image">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</section>
