<nav class="site-navigation d-flex w-100 px-5">
  <div class="nav-logo ">
    LOGO
  </div>

  <div class="nav-menu-holder d-flex flex-grow-1 justify-content-between align-content-center">
    <div class="nav-left-menu align-self-center">
      <ul class="nav-menu m-0">
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">COMMUNITY</a></li>
        <li><a href="#">LOCATION</a></li>
        <li><a href="#">OUR MENU</a></li>
        <li><a href="#">RECIPES</a></li>
      </ul>
    </div>


    <div class="nav-right-menu align-self-center">
      <ul class="nav-menu m-0">
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>
