
// font Size
$font-m : 1.2rem;
$font-l : 1.6rem;
$font-xl : 2.5rem;
$font-xxl : 3rem;

// Color Scheme
$cream-100 : #f7d9c9;
$black-100 : #333;
$grey-100 : #5e6a6f;
$grey-200 : #969795;
$grey-300 : #CCC;
$grey-400 : #efefef;
$white : #FFF;
$white-100 :#f7f7f7;
$white-200 :#f5f5f5;
