<section class="menu" id="menu" #sectionMenu>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-10 mx-auto p-0 position-relative">
        <div class="section-header">
          <div class="heading-block">
            <h2 class="strike">OUR MENU</h2>
          </div>
          <button>KNOW MORE</button>
        </div>
        <div class="d-flex menu-listing">
          <div class="column">

            <div class="menu-list" [@downUp]="triggerState" >
              <h3>STARTERS</h3>
              <div class="item">
                <h4>QUINOA CROQUETTAS</h4>
                <p>
                  Quinoa and cheddar
                  croquettas with aji rocotto &
                  pineapple salsa (v)
                </p>
                <button class="btn-stroke">&euro; 4.95</button>
              </div>


              <div class="item">
                <h4>CHIFA CHICHARRONES</h4>
                <p>
                  Slow cooked, crispy pork belly
                  with sweet soy sauce
                </p>
                <button class="btn-stroke">&euro; 6.95</button>
              </div>


              <div class="item">
                <h4>CALAMARES</h4>
                <p>
                  Crispy baby squid with pickled
                  jalapeño miso salsa
                </p>
                <button class="btn-stroke">&euro; 6.95</button>
              </div>


            </div>


          </div>
          <div class="column">

            <div class="menu-list" [@upDown]="triggerState">
              <h3> MAIN <br/> COURSES</h3>
              <div class="item">
                <h4>EL CLASICO</h4>
                <p>
                  Sea bass ceviche with aji limo
                  tiger’s milk, sweet potato
                  purée, choclo corn, red onion,
                  coriander & plantain (gf)
                </p>
                <button class="btn-stroke">&euro; 8.95</button>
              </div>


              <div class="item">
                <h4>TIRADITO CALLAOS</h4>
                <p>
                  Cobia tiradito with coriander
                  tiger’s milk, black tobika,
                  crème fraiche & sweet potato
                  crunchies
                </p>
                <button class="btn-stroke">&euro; 9.40</button>
              </div>

            </div>


          </div>
          <div class="column">

            <div class="menu-list" [@downUp]="triggerState">
              <h3>SIDES</h3>
              <div class="item">
                <h4>SUPER POLLO</h4>
                <p>
                  Marinated corn fed chicken
                  pieces with rocotto salsa
                </p>
                <button class="btn-stroke">&euro; 8.40</button>
              </div>


              <div class="item">
                <h4>PATATAS FRITAS</h4>
                <p>
                  Sweet potato fries with aji
                  rocotto mayonnaise (v)
                </p>
                <button class="btn-stroke">&euro; 3.95</button>
              </div>

            </div>

          </div>
          <div class="column">


            <div class="menu-list" [@upDown]="triggerState">
              <h3>DESSERTS</h3>
              <div class="item">
                <h4>ICECREAM</h4>
                <p>
                  Lorem ipsum dolor sit amet
                  salerma petrum sea
                </p>
                <button class="btn-stroke">&euro; 9.40</button>
              </div>


              <div class="item">
                <h4>TIRAMISU</h4>
                <p>
                  Quinoa and cheddar
                  croquettas with aji rocotto &
                  pineapple salsa (v)
                </p>
                <button class="btn-stroke">&euro; 9.40</button>
              </div>


              <div class="item">
                <h4>QUINOA CROQUETTAS</h4>
                <p>
                  Quinoa and cheddar
                  croquettas with aji rocotto &
                  pineapple salsa (v)
                </p>
                <button class="btn-stroke">&euro; 9.40</button>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
